# This file provides an overview of code owners in the `kyma` repository.

# Each line is a file pattern followed by one or more owners.
# The last matching pattern has the most precedence.
# For more details, read the following article on GitHub: https://help.github.com/articles/about-codeowners/.

# These are the default owners for the whole content of the `kyma` repository. The default owners are automatically added as reviewers when you open a pull request, unless different owners are specified in the file.
* @derberg @pbochynski @PK85 @a-thaler @lszymik @piotrmsc

/common/ @mszostok @aszecowka @piotrmiskiewicz @sjanota @Tomasz-Smelcerz-SAP @strekm @crabtree @akgalwas @janmedrek @Szymongib @sayanh @radufa @suleymanakbas91

# The `installation` directory and subdirectories
/installation/ @Tomasz-Smelcerz-SAP @strekm @jakkab @crabtree @aszecowka @PK85 @mszostok @piotrmiskiewicz @polskikiel @piotrmsc @mwieczorek @jasiu001 @adamwalach @sjanota @kubadz @Demonsthere @kfurgol

# The `installation` PowerShell scripts
/installation/**/*.ps1 @crabtree @venturasr

# The `cluster-essentials` chart
/resources/cluster-essentials/ @piotrmsc @PK85

# The `pod-preset` subchart
/resources/cluster-essentials/charts/pod-preset @mszostok @PK85 @aszecowka @piotrmiskiewicz @polskikiel @jasiu001 @adamwalach

# The `values.yaml` file for `core` chart
/resources/core/values.yaml @kyma-project/developers

# The `heptio ark` chart
/resources/ark/ @mwieczorek @joek @rakesh-garimella @sayanh @venturasr @lilitgh @k15r

# The `api-controller` subchart
/resources/core/charts/api-controller/ @piotrmsc @kubadz @sjanota @strekm @jakkab @Tomasz-Smelcerz-SAP @kfurgol @Demonsthere

# The `apiserver-proxy` subchart
/resources/core/charts/apiserver-proxy/ @piotrmsc @kubadz @sjanota @strekm @jakkab @Tomasz-Smelcerz-SAP @kfurgol @Demonsthere

# The `azure-broker` subchart
/resources/core/charts/azure-broker/ @Tomasz-Smelcerz-SAP @strekm @jakkab @crabtree @piotrmsc @kubadz @sjanota @kfurgol @Demonsthere

# The `cluster-users` subchart
/resources/core/charts/cluster-users/ @piotrmsc @kubadz @sjanota @strekm @jakkab @Tomasz-Smelcerz-SAP @kfurgol @Demonsthere

# The `configurations-generator` subchart
/resources/core/charts/configurations-generator @piotrmsc @kubadz @sjanota @strekm @jakkab @Tomasz-Smelcerz-SAP @kfurgol @Demonsthere

# The `application-connector` chart
/resources/application-connector/ @lszymik @akgalwas @janmedrek @Szymongib @franpog859 @Maladie @crabtree

# The `values.yaml` file for `application-connector` chart
/resources/application-connector/values.yaml @kyma-project/developers

# The `connector-service` subchart
/resources/application-connector/charts/connector-service/ @lszymik @akgalwas @janmedrek @Szymongib @franpog859 @Maladie @crabtree

# The `connection-token-handler` subchart
/resources/application-connector/charts/connection-token-handler/ @lszymik @akgalwas @janmedrek @Szymongib @franpog859 @Maladie @crabtree

# The `application-registry` subchart
/resources/application-connector/charts/application-registry/ @lszymik @akgalwas @janmedrek @Szymongib @franpog859 @Maladie @crabtree

# The `application-operator` subchart
/resources/application-connector/charts/application-operator/ @lszymik @akgalwas @janmedrek @Szymongib @franpog859 @Maladie @crabtree

# The `nginx-ingress` subchart
/resources/application-connector/charts/nginx-ingress/ @lszymik @akgalwas @janmedrek @Szymongib @franpog859 @Maladie @crabtree

# The `console` subchart
/resources/core/charts/console/ @pekura @maxmarkus @jesusreal @kwiatekus @dariadomagala @hardl @y-kkamil @antiheld

# The `dex` subchart
/resources/dex/ @piotrmsc @kubadz @sjanota @strekm @jakkab @Tomasz-Smelcerz-SAP @kfurgol @Demonsthere

# The `istio-rbac` subchart
/resources/core/charts/istio-rbac/ @piotrmsc @kubadz @sjanota @strekm @jakkab @Tomasz-Smelcerz-SAP @kfurgol @Demonsthere

# The `namespace-controller` subchart
/resources/core/charts/namespace-controller/ @Tomasz-Smelcerz-SAP @strekm @jakkab @crabtree @piotrmsc @kubadz @sjanota @kfurgol @Demonsthere

# The `etcd-operator` subchart
/resources/core/charts/etcd-operator/ @aszecowka @PK85 @mszostok @piotrmiskiewicz @polskikiel @mwieczorek @jasiu001 @adamwalach

# The 'gateway' subchart
/resources/core/charts/gateway/ @piotrmsc @kubadz @sjanota @strekm @jakkab @Tomasz-Smelcerz-SAP @kfurgol @Demonsthere

# The `helm-broker` subchart
/resources/core/charts/helm-broker/ @aszecowka @PK85 @mszostok @piotrmiskiewicz @polskikiel @jasiu001 @adamwalach

# The `monitoring` subchart
/resources/monitoring/ @joek @rakesh-garimella @sayanh @venturasr @lilitgh @k15r

# The `kubeless` subchart
/resources/core/charts/kubeless/ @joek @rakesh-garimella @sayanh @venturasr @lilitgh @k15r

# The `logging` subchart
/resources/logging/ @rakesh-garimella @joek @sayanh @venturasr @lilitgh @k15r

# The `minio` subchart
/resources/core/charts/minio/ @akucharska @michal-hudy @pkosiec @mjasinski5 @aerfio @magicmatatjahu

# The `event-bus` subchart
/resources/core/charts/event-bus/ @a-thaler @montaro @abbi-gaurav @marcobebway @radufa @suleymanakbas91

# The `k8s-dashboard-proxy` subchart
/resources/core/charts/k8s-dashboard-proxy/ @a-thaler @montaro @abbi-gaurav @marcobebway @radufa @suleymanakbas91

# The `application-broker` subchart
/resources/application-connector/charts/application-broker @aszecowka @PK85 @mszostok @piotrmiskiewicz @polskikiel @jasiu001 @adamwalach

# The `service-catalog-addons` subchart
/resources/core/charts/service-catalog-addons/ @aszecowka @PK85 @mszostok @piotrmiskiewicz @polskikiel @jasiu001 @adamwalach

# The `binding-usage-controller` subchart
/resources/core/charts/service-catalog-addons/charts/binding-usage-controller/ @aszecowka @PK85 @mszostok @piotrmiskiewicz @polskikiel @jasiu001 @adamwalach

# The `brokers-ui` subchart
/resources/core/charts/service-catalog-addons/charts/brokers-ui/ @aszecowka @PK85 @mszostok @piotrmiskiewicz @polskikiel @jasiu001 @adamwalach @akucharska @michal-hudy @pkosiec @mjasinski5 @aerfio @magicmatatjahu

# The `catalog-ui` subchart
/resources/core/charts/service-catalog-addons/charts/catalog-ui/ @akucharska @michal-hudy @pkosiec @mjasinski5 @aerfio @magicmatatjahu

# The `instances-ui` subchart
/resources/core/charts/service-catalog-addons/charts/instances-ui/ @akucharska @michal-hudy @pkosiec @mjasinski5 @aerfio @magicmatatjahu

# The `docs` subchart
/resources/core/charts/docs/ @akucharska @michal-hudy @pkosiec @mjasinski5 @aerfio @magicmatatjahu @aszecowka @PK85 @mszostok @piotrmiskiewicz @polskikiel @jasiu001 @adamwalach

# The `ui-api` subchart
/resources/core/charts/ui-api/ @akucharska @michal-hudy @pkosiec @mjasinski5 @aerfio @magicmatatjahu @aszecowka @PK85 @mszostok @piotrmiskiewicz @polskikiel @jasiu001 @adamwalach

# The `templates` chart
/resources/core/templates/ @aszecowka @PK85 @mszostok @piotrmiskiewicz @polskikiel @jasiu001 @adamwalach

# The `templates` chart
/resources/core/templates/tests/ @aszecowka @PK85 @mszostok @piotrmiskiewicz @polskikiel @akucharska @michal-hudy @pkosiec @mjasinski5 @aerfio @magicmatatjahu @pekura @maxmarkus @jesusreal @kwiatekus @dariadomagala @hardl @y-kkamil @antiheld @jasiu001 @adamwalach

# The `messaging` subdirectory
/resources/examples/lambda-messages/ @pbochynski @PK85

# The `tiller` subdirectory
/resources/tiller/ @aszecowka @PK85 @mszostok @piotrmiskiewicz @polskikiel @jasiu001 @adamwalach

# The `helm-broker-repo` subdirectory
/resources/helm-broker-repo/ @aszecowka @PK85 @mszostok @piotrmiskiewicz @polskikiel @jasiu001 @adamwalach

# The `istio` chart
/resources/istio/ @piotrmsc @kubadz @sjanota @strekm @jakkab @Tomasz-Smelcerz-SAP @kfurgol @Demonsthere

# The `istio-kyma-patch` chart
/resources/istio-kyma-patch/ @piotrmsc @kubadz @sjanota @strekm @jakkab @Tomasz-Smelcerz-SAP @kfurgol @Demonsthere

# The `knative` chart
/resources/knative/ @kyma-project/wg-knative

# The `jaeger` charts
/resources/jaeger/ @a-thaler @montaro @abbi-gaurav @marcobebway @radufa @suleymanakbas91

# The `prometheus-operator` chart
/resources/prometheus-operator/ @joek @rakesh-garimella @sayanh @venturasr @lilitgh @k15r

# The `service-catalog` chart
/resources/service-catalog/ @aszecowka @PK85 @mszostok @piotrmiskiewicz @polskikiel @jasiu001 @adamwalach

# The `xip-patch` chart
/resources/xip-patch/ @piotrmsc @sjanota @kubadz @strekm @jakkab @Tomasz-Smelcerz-SAP @kfurgol @Demonsthere

# Components
#API server proxy Component
/components/apiserver-proxy/ @piotrmsc @kubadz @sjanota @strekm @jakkab @Tomasz-Smelcerz-SAP @kfurgol @Demonsthere

# Api controller Component
/components/api-controller/ @piotrmsc @kubadz @sjanota @strekm @jakkab @Tomasz-Smelcerz-SAP @kfurgol @Demonsthere

# Binding usage controller Component
/components/binding-usage-controller/ @aszecowka @PK85 @mszostok @piotrmiskiewicz @polskikiel @jasiu001 @adamwalach

# Installer Component
/components/installer/ @Tomasz-Smelcerz-SAP @strekm @jakkab @crabtree @piotrmsc @kubadz @sjanota @kfurgol @Demonsthere

# Configurations Generator Component
/components/configurations-generator/ @piotrmsc @kubadz @sjanota @strekm @jakkab @Tomasz-Smelcerz-SAP @kfurgol @Demonsthere

# Namespace controller Component
/components/namespace-controller/ @Tomasz-Smelcerz-SAP @strekm @jakkab @crabtree @piotrmsc @kubadz @sjanota @kfurgol @Demonsthere

# Istio Extensions Component
/components/istio-kyma-patch/ @piotrmsc @sjanota @kubadz @strekm @jakkab @Tomasz-Smelcerz-SAP @kfurgol @Demonsthere

# Application broker Component
/components/application-broker/ @aszecowka @PK85 @mszostok @piotrmiskiewicz @polskikiel @jasiu001 @adamwalach

# Helm broker controller Component
/components/helm-broker/ @aszecowka @PK85 @mszostok @piotrmiskiewicz @polskikiel @jasiu001 @adamwalach

# UI API Layer Component
/components/ui-api-layer/ @akucharska @michal-hudy @pkosiec @mjasinski5 @aerfio @magicmatatjahu @aszecowka @PK85 @mszostok @piotrmiskiewicz @polskikiel @jasiu001 @adamwalach

# IDPPreset Component
/components/idppreset/ @pekura @maxmarkus @jesusreal @kwiatekus @dariadomagala @hardl @y-kkamil @antiheld

# Connector Service Component
/components/connector-service/ @lszymik @akgalwas @janmedrek @Szymongib @franpog859 @Maladie @crabtree

# Connector Service Token Request Component
/components/connection-token-handler/ @lszymik @akgalwas @janmedrek @Szymongib @franpog859 @Maladie @crabtree

# Application Registry Component
/components/application-registry/ @lszymik @akgalwas @janmedrek @Szymongib @franpog859 @Maladie @crabtree

# Application Operator Component
/components/application-operator/ @lszymik @akgalwas @janmedrek @Szymongib @franpog859 @Maladie @crabtree

# Application Proxy Component
/components/application-proxy/ @lszymik @akgalwas @janmedrek @Szymongib @franpog859 @Maladie @crabtree

# Event Bus Component
/components/event-bus/ @montaro @abbi-gaurav @marcobebway @radufa @suleymanakbas91

# K8s Dashboard Proxy Component
/components/k8s-dashboard-proxy/ @montaro @abbi-gaurav @marcobebway @radufa @suleymanakbas91

# Event Service Component
/components/event-service/ @montaro @abbi-gaurav @marcobebway @radufa @suleymanakbas91

# Xip Patch Component
/components/xip-patch/ @piotrmsc @sjanota @kubadz @strekm @jakkab @Tomasz-Smelcerz-SAP @kfurgol @Demonsthere

# Tests
# acceptance tests
/tests/acceptance/ @mszostok @polskikiel @piotrmiskiewicz @aszecowka @PK85 @jasiu001 @adamwalach
/tests/acceptance/dex @sjanota @piotrmsc @kubadz @strekm @jakkab @Tomasz-Smelcerz-SAP @kfurgol @Demonsthere

# test-namespace-controller
/tests/test-namespace-controller/ @Tomasz-Smelcerz-SAP @strekm @jakkab @crabtree @piotrmsc @kubadz @sjanota @kfurgol @Demonsthere

# test-logging-monitoring tests
/tests/test-logging-monitoring/ @rakesh-garimella @joek @sayanh @venturasr @lilitgh @k15r

# test-logging tests
/tests/logging/ @rakesh-garimella @joek @sayanh @venturasr @lilitgh @k15r

# api-controller acceptance tests
/tests/api-controller-acceptance-tests/ @piotrmsc @kubadz @sjanota @strekm @jakkab @Tomasz-Smelcerz-SAP @kfurgol @Demonsthere

# UI API Layer acceptance tests
/tests/ui-api-layer-acceptance-tests/ @akucharska @michal-hudy @pkosiec @mjasinski5 @aerfio @magicmatatjahu @aszecowka @PK85 @mszostok @piotrmiskiewicz @polskikiel @jasiu001 @adamwalach

# Connector Service Tests
/tests/connector-service-tests/ @lszymik @akgalwas @janmedrek @Szymongib @franpog859 @Maladie @crabtree

# Application Registry Tests
/tests/application-registry-tests/ @lszymik @akgalwas @janmedrek @Szymongib @franpog859 @Maladie @crabtree

# Application Operator Tests
/tests/application-operator-tests/ @lszymik @akgalwas @janmedrek @Szymongib @franpog859 @Maladie @crabtree

# Tools
# Stability Checker Component
/tools/stability-checker/ @aszecowka @PK85 @mszostok @piotrmiskiewicz @polskikiel @jasiu001 @adamwalach

# Etcd backup Component
/tools/etcd-backup/ @aszecowka @PK85 @mszostok @piotrmiskiewicz @polskikiel @jasiu001 @adamwalach

# The alpine-net directory
/tools/alpine-net/ @suleymanakbas91 @clebs @a-thaler @lilitgh

# The watch-pods directory
/tools/watch-pods/ @suleymanakbas91 @clebs @a-thaler @lilitgh

# The etcd-tls-setup directory
/tools/etcd-tls-setup/ @aszecowka @PK85 @mszostok @piotrmiskiewicz @polskikiel @mwieczorek @jasiu001 @adamwalach

# The gcp-broker-provider directory
/tools/gcp-broker-provider/ @aszecowka @PK85 @mszostok @piotrmiskiewicz @polskikiel @mwieczorek @jasiu001 @adamwalach

# The changelog-generator directory
/tools/changelog-generator/ @akucharska @michal-hudy @pkosiec @mjasinski5 @aerfio @magicmatatjahu

# The docsbuilder directory
/tools/docsbuilder/ @akucharska @michal-hudy @pkosiec @mjasinski5 @aerfio @magicmatatjahu

# The failery directory
/tools/failery/ @akucharska @michal-hudy @pkosiec @mjasinski5 @aerfio @magicmatatjahu

# The static-users-generator directory
/tools/static-users-generator/ @piotrmsc @sjanota @kubadz @strekm @jakkab @Tomasz-Smelcerz-SAP @kfurgol @Demonsthere

# The tools/ark-plugins directory
/tools/ark-plugins/ @mwieczorek @joek @rakesh-garimella @sayanh @venturasr @lilitgh @k15r

# The tools/kyma-installer directory
/tools/kyma-installer/ @Tomasz-Smelcerz-SAP @strekm @jakkab @crabtree @aszecowka @PK85 @mszostok @piotrmiskiewicz @polskikiel @piotrmsc @mwieczorek @jasiu001 @adamwalach @kubadz @sjanota @kfurgol @Demonsthere

# The tools/load-test directory
/tools/load-test/ @joek @rakesh-garimella @sayanh @venturasr @lilitgh @k15r

# kubeless-integration tests directory 
/tests/kubeless-integration/ @rakesh-garimella @joek @sayanh @venturasr @lilitgh @k15r

# kubeless tests
/tests/kubeless/ @rakesh-garimella @joek @sayanh @venturasr @lilitgh @k15r

# Event Bus Tests
/tests/event-bus/ @montaro @abbi-gaurav @marcobebway @radufa @suleymanakbas91

# Event Service Tests
/tests/gateway-tests/ @montaro @abbi-gaurav @marcobebway @radufa @suleymanakbas91

# All .md files
*.md @kazydek @klaudiagrz @tomekpapiernik @bszwarc

# All files and subdirectories in /docs
/docs/ @kazydek @klaudiagrz @tomekpapiernik @bszwarc

# Config file for MILV - milv.config.yaml
milv.config.yaml @akucharska @michal-hudy @pkosiec @mjasinski5 @aerfio @magicmatatjahu
