# This file provides an overview of code owners in the `kyma` repository.

# Each line is a file pattern followed by one or more owners.
# The last matching pattern has the most precedence.
# For more details read the following article on GitHub: https://help.github.com/articles/about-codeowners/.

# These are the default owners for the whole content of the `kyma` repository. The default owners are automatically added as reviewers when you open a pull request unless different owners are specified in the file.
* @kyma-project/kyma-steering-committee

/.github @kyma-project/prow
/.github/workflows @kyma-project/prow
/.github/ISSUE_TEMPLATE @kyma-project/technical-writers


# Owners of the .kyma-project-io folder
/.kyma-project-io/ @kyma-project/Hasselhoff

# Logging library
/common/logging @kyma-project/Framefrog

/components/central-application-connectivity-validator @kyma-project/Framefrog
/components/central-application-gateway @kyma-project/Framefrog
/components/compass-runtime-agent @kyma-project/Framefrog
/components/event-publisher-proxy @kyma-project/eventing
/components/eventing-controller @kyma-project/eventing
/components/function-controller @kyma-project/Otters
/components/function-runtimes @kyma-project/Otters


# All files and subdirectories in /docs
/docs @kyma-project/technical-writers

/installation @kyma-project/Jellyfish
/installation/resources/crds/api-gateway @kyma-project/goat
/installation/resources/crds/application-connector @kyma-project/Framefrog
/installation/resources/crds/compass-runtime-agent @kyma-project/Framefrog
/installation/resources/crds/eventing @kyma-project/eventing
/installation/resources/crds/istio @kyma-project/goat
/installation/resources/crds/monitoring @kyma-project/observability
/installation/resources/crds/ory @kyma-project/goat
/installation/resources/crds/serverless @kyma-project/Otters

/resources/api-gateway @kyma-project/goat
/resources/application-connector @kyma-project/Framefrog
/resources/certificates @kyma-project/goat
/resources/cluster-essentials @kyma-project/goat
/resources/cluster-users @kyma-project/goat
/resources/compass-runtime-agent @kyma-project/Framefrog
/resources/eventing @kyma-project/eventing
/resources/istio @kyma-project/goat
/resources/istio-resources @kyma-project/goat
/resources/istio-resources/files/dashboards @kyma-project/observability
/resources/monitoring @kyma-project/observability
/resources/ory @kyma-project/goat
/resources/serverless @kyma-project/Otters

# Fast Integration Tests
/tests/fast-integration/test @kyma-project/observability @kyma-project/eventing
/tests/fast-integration/eventing-test @kyma-project/eventing
/tests/fast-integration/image @kyma-project/eventing
/tests/fast-integration/monitoring @kyma-project/observability
/tests/fast-integration/prow @kyma-project/Jellyfish

/tests/function-controller @kyma-project/Otters
/tests/components/application-connector @kyma-project/Framefrog

# performance tests
/tests/perf @kyma-project/observability
/tests/serverless-bench @kyma-project/Otters

# The tools/gitserver directory
/tools/gitserver/ @kyma-project/Otters

# Config file for MILV - milv.config.yaml
milv.config.yaml @kyma-project/Otters @kyma-project/technical-writers

# VERSION file
VERSION @kyma-project/prow

# All .md files
*.md @kyma-project/technical-writers

# Managed Modules
/modules @pbochynski @kyma-project/Jellyfish

/hack/table-gen @k15r @kyma-project/kyma-steering-committee
