# This file provides an overview of code owners in the `kyma` repository.

# Each line is a file pattern followed by one or more owners.
# The last matching pattern has the most precedence.
# For more details, read the following article on GitHub: https://help.github.com/articles/about-codeowners/.

# These are the default owners for the whole content of the `kyma` repository. The default owners are automatically added as reviewers when you open a pull request, unless different owners are specified in the file.
* @derberg @pbochynski @PK85 @a-thaler @piotrmsc

/common/ @mszostok @aszecowka @piotrmiskiewicz @sjanota @Tomasz-Smelcerz-SAP @strekm @crabtree @akgalwas @janmedrek @Szymongib @sayanh @radufa @suleymanakbas91

# Microfrontend k8s client
/common/microfrontend-client/ @kwiatekus @dariadomagala @y-kkamil @parostatkiem @akucharska @sjanota

# The `installation` directory and subdirectories
/installation/ @Tomasz-Smelcerz-SAP @strekm @jakkab @crabtree @aszecowka @PK85 @mszostok @piotrmiskiewicz @polskikiel @piotrmsc @jasiu001 @adamwalach @kubadz @Demonsthere

# The `installation` PowerShell scripts
/installation/**/*.ps1 @crabtree @venturasr

# The `cluster-essentials` chart
/resources/cluster-essentials/ @piotrmsc @PK85 @derberg

# The `pod-preset` subchart
/resources/cluster-essentials/charts/pod-preset @mszostok @PK85 @aszecowka @piotrmiskiewicz @polskikiel @jasiu001 @adamwalach

# The Microfrontend CRDs
/resources/cluster-essentials/templates/microfrontend.crd.yaml @kwiatekus @dariadomagala @y-kkamil @akucharska @sjanota @parostatkiem
/resources/cluster-essentials/templates/clustermicrofrontend.crd.yaml @kwiatekus @dariadomagala @y-kkamil @akucharska @sjanota @parostatkiem

# The `values.yaml` file for `core` chart
/resources/core/values.yaml @kyma-project/developers

# The `heptio velero essentials` chart
/resources/velero-essentials/ @a-thaler @igor-karpukhin @hisarbalik @lilitgh @suleymanakbas91 @clebs

# The `heptio velero` chart
/resources/velero/ @a-thaler @igor-karpukhin @hisarbalik @lilitgh @suleymanakbas91 @clebs

# The `api-controller` subchart
/resources/core/charts/api-controller/ @piotrmsc @kubadz @strekm @jakkab @Tomasz-Smelcerz-SAP @Demonsthere

# The `apiserver-proxy` subchart
/resources/core/charts/apiserver-proxy/ @piotrmsc @kubadz @strekm @jakkab @Tomasz-Smelcerz-SAP @Demonsthere

# The `cluster-users` subchart
/resources/core/charts/cluster-users/ @piotrmsc @kubadz @strekm @jakkab @Tomasz-Smelcerz-SAP @Demonsthere

# The `iam-kubeconfig-service` subchart
/resources/core/charts/iam-kubeconfig-service @piotrmsc @kubadz @strekm @jakkab @Tomasz-Smelcerz-SAP @Demonsthere

# The `assetstore` chart
/resources/assetstore/ @michal-hudy @m00g3n @aerfio @magicmatatjahu

# The `cms` chart
/resources/cms/ @michal-hudy @m00g3n @aerfio @magicmatatjahu

# The `application-connector` chart
/resources/application-connector/ @akgalwas @janmedrek @Szymongib @franpog859 @Maladie @crabtree

# The `values.yaml` file for `application-connector` chart
/resources/application-connector/values.yaml @kyma-project/developers

# The `connector-service` subchart
/resources/application-connector/charts/connector-service/ @akgalwas @janmedrek @Szymongib @franpog859 @Maladie @crabtree

# The `connection-token-handler` subchart
/resources/application-connector/charts/connection-token-handler/ @akgalwas @janmedrek @Szymongib @franpog859 @Maladie @crabtree

# The `connectivity-certs-controller` subchart
/resources/application-connector/charts/connectivity-certs-controller/ @akgalwas @janmedrek @Szymongib @franpog859 @Maladie @crabtree

# The `application-registry` subchart
/resources/application-connector/charts/application-registry/ @akgalwas @janmedrek @Szymongib @franpog859 @Maladie @crabtree

# The `application-operator` subchart
/resources/application-connector/charts/application-operator/ @akgalwas @janmedrek @Szymongib @franpog859 @Maladie @crabtree

# The `application-connector-helper` chart
/resources/application-connector-helper/ @piotrmsc @kubadz @strekm @jakkab @Tomasz-Smelcerz-SAP @Demonsthere @akgalwas @janmedrek @Szymongib @franpog859 @Maladie @crabtree

# The `application-connector-ingress` chart
/resources/application-connector-ingress/ @akgalwas @janmedrek @Szymongib @franpog859 @Maladie @crabtree

# The `console` subchart
/resources/core/charts/console/ @kwiatekus @dariadomagala @y-kkamil @parostatkiem @akucharska @sjanota

# The `dex` subchart
/resources/dex/ @piotrmsc @kubadz @strekm @jakkab @Tomasz-Smelcerz-SAP @Demonsthere

# The `istio-rbac` subchart
/resources/core/charts/istio-rbac/ @piotrmsc @kubadz @strekm @jakkab @Tomasz-Smelcerz-SAP @Demonsthere

# The `namespace-controller` subchart
/resources/core/charts/namespace-controller/ @Tomasz-Smelcerz-SAP @strekm @jakkab @piotrmsc @kubadz @Demonsthere

# The 'gateway' subchart
/resources/core/charts/gateway/ @piotrmsc @kubadz @strekm @jakkab @Tomasz-Smelcerz-SAP @Demonsthere

# The `helm-broker` subchart
/resources/helm-broker/ @aszecowka @PK85 @mszostok @piotrmiskiewicz @polskikiel @jasiu001 @adamwalach

# The `monitoring` subchart
/resources/monitoring/ @a-thaler @igor-karpukhin @hisarbalik @lilitgh @suleymanakbas91 @clebs

# The `kubeless` subchart
/resources/core/charts/kubeless/ @Abd4llA @joek @abbi-gaurav @rakesh-garimella @venturasr @lilitgh @k15r @nachtmaar @anishj0shi @montaro @marcobebway @radufa @sayanh

# The `lambda-ui` subchart
/resources/core/charts/kubeless/charts/lambdas-ui @kwiatekus @dariadomagala @y-kkamil @parostatkiem @akucharska @sjanota

# The `logging` subchart
/resources/logging/ @a-thaler @igor-karpukhin @hisarbalik @lilitgh @suleymanakbas91 @clebs

# The `log-ui` subchart
/resources/logging/charts/log-ui/ @rakesh-garimella @pekura @maxmarkus @jesusreal @kwiatekus @dariadomagala @hardl @y-kkamil @hisarbalik @a-thaler @igor-karpukhin

# The `event-bus` chart
/resources/event-bus/ @Abd4llA @joek @abbi-gaurav @rakesh-garimella @venturasr @lilitgh @k15r @nachtmaar @anishj0shi @montaro @marcobebway @radufa @sayanh

# The `nats-streaming` chart
/resources/nats-streaming/ @Abd4llA @joek @abbi-gaurav @rakesh-garimella @venturasr @lilitgh @k15r @nachtmaar @anishj0shi @montaro @marcobebway @radufa @sayanh

# The `knative-provisioner-natss` chart
/resources/knative-provisioner-natss/ @Abd4llA @joek @abbi-gaurav @rakesh-garimella @venturasr @lilitgh @k15r @nachtmaar @anishj0shi @montaro @marcobebway @radufa @sayanh

# The `k8s-dashboard-proxy` subchart
/resources/core/charts/k8s-dashboard-proxy/ @a-thaler @montaro @abbi-gaurav @marcobebway @radufa @sayanh

# The `application-broker` subchart
/resources/application-connector/charts/application-broker @aszecowka @PK85 @mszostok @piotrmiskiewicz @polskikiel @jasiu001 @adamwalach

# The `service-catalog-addons` subchart
/resources/service-catalog-addons/ @aszecowka @PK85 @mszostok @piotrmiskiewicz @polskikiel @jasiu001 @adamwalach

# The `binding-usage-controller` subchart
/resources/service-catalog-addons/charts/binding-usage-controller/ @aszecowka @PK85 @mszostok @piotrmiskiewicz @polskikiel @jasiu001 @adamwalach

# The `brokers-ui` subchart
/resources/service-catalog-addons/charts/brokers-ui/ @aszecowka @PK85 @mszostok @piotrmiskiewicz @polskikiel @jasiu001 @adamwalach @akucharska @michal-hudy @m00g3n @aerfio @magicmatatjahu @kwiatekus @dariadomagala @y-kkamil @parostatkiem @sjanota

# The `catalog-ui` subchart
/resources/service-catalog-addons/charts/catalog-ui/ @akucharska @michal-hudy @m00g3n @aerfio @magicmatatjahu @kwiatekus @dariadomagala @y-kkamil @parostatkiem @sjanota

# The `instances-ui` subchart
/resources/service-catalog-addons/charts/instances-ui/ @akucharska @michal-hudy @m00g3n @aerfio @magicmatatjahu @kwiatekus @dariadomagala @y-kkamil @parostatkiem @sjanota

# The `docs` subchart
/resources/core/charts/docs/ @michal-hudy @m00g3n @aerfio @magicmatatjahu @aszecowka @PK85 @mszostok @piotrmiskiewicz @polskikiel @jasiu001 @adamwalach

# The `console-backend-service` subchart
/resources/core/charts/console-backend-service/ @akucharska @michal-hudy @m00g3n @pkosiec @aerfio @magicmatatjahu @aszecowka @PK85 @mszostok @piotrmiskiewicz @polskikiel @jasiu001 @adamwalach @kwiatekus @dariadomagala @y-kkamil @parostatkiem @sjanota

# The `templates` chart
/resources/core/templates/ @aszecowka @PK85 @mszostok @piotrmiskiewicz @polskikiel @jasiu001 @adamwalach

# The `templates` chart
/resources/core/templates/tests/ @aszecowka @PK85 @mszostok @piotrmiskiewicz @polskikiel @akucharska @michal-hudy @m00g3n @pkosiec @aerfio @tgorgol @magicmatatjahu @pekura @maxmarkus @jesusreal @kwiatekus @dariadomagala @hardl @y-kkamil @antiheld @jasiu001 @adamwalach

# The `messaging` subdirectory
/resources/examples/lambda-messages/ @pbochynski @PK85

# The `tiller` subdirectory
/resources/tiller/ @aszecowka @PK85 @mszostok @piotrmiskiewicz @polskikiel @jasiu001 @adamwalach

# The `helm-broker-repo` subdirectory
/resources/helm-broker-repo/ @aszecowka @PK85 @mszostok @piotrmiskiewicz @polskikiel @jasiu001 @adamwalach

# The `istio-init` chart
/resources/istio-init/ @piotrmsc @kubadz @strekm @jakkab @Tomasz-Smelcerz-SAP @Demonsthere

# The `istio` chart
/resources/istio/ @piotrmsc @kubadz @strekm @jakkab @Tomasz-Smelcerz-SAP @Demonsthere

# The `istio-kyma-patch` chart
/resources/istio-kyma-patch/ @piotrmsc @kubadz @strekm @jakkab @Tomasz-Smelcerz-SAP @Demonsthere

# The `knative-serving` chart
/resources/knative-serving/ @Abd4llA @joek @abbi-gaurav @rakesh-garimella @venturasr @lilitgh @k15r @nachtmaar @anishj0shi @montaro @marcobebway @radufa @sayanh

# The `knative-eventing` chart
/resources/knative-eventing/ @Abd4llA @joek @abbi-gaurav @rakesh-garimella @venturasr @lilitgh @k15r @nachtmaar @anishj0shi @montaro @marcobebway @radufa @sayanh

# The `jaeger` charts
/resources/jaeger/ @a-thaler @igor-karpukhin @hisarbalik @lilitgh @suleymanakbas91 @clebs

# The `prometheus-operator` chart
/resources/prometheus-operator/ @a-thaler @igor-karpukhin @hisarbalik @lilitgh @suleymanakbas91 @clebs

# The `service-catalog` chart
/resources/service-catalog/ @aszecowka @PK85 @mszostok @piotrmiskiewicz @polskikiel @jasiu001 @adamwalach

# The `xip-patch` chart
/resources/xip-patch/ @piotrmsc @kubadz @strekm @jakkab @Tomasz-Smelcerz-SAP @Demonsthere

# The `ory` chart
/resources/ory/ @piotrmsc @kubadz @strekm @jakkab @Tomasz-Smelcerz-SAP @Demonsthere

# The `compass` chart
/resources/compass/ @PK85 @aszecowka @crabtree @pkosiec @kfurgol @tgorgol @akgalwas @janmedrek @Szymongib @franpog859 @Maladie

# The `compass-runtime-agent` chart
/resources/compass-runtime-agent/ @PK85 @aszecowka @crabtree @pkosiec @kfurgol @tgorgol @akgalwas @janmedrek @Szymongib @franpog859 @Maladie

# Components
#API server proxy Component
/components/apiserver-proxy/ @piotrmsc @kubadz @strekm @jakkab @Tomasz-Smelcerz-SAP @Demonsthere

# Api controller Component
/components/api-controller/ @piotrmsc @kubadz @strekm @jakkab @Tomasz-Smelcerz-SAP @Demonsthere

# Asset Store Controller Manager Component
/components/asset-store-controller-manager/ @michal-hudy @m00g3n @aerfio @magicmatatjahu

# Asset Upload Service
/components/asset-upload-service/ @michal-hudy @m00g3n @aerfio @magicmatatjahu

# Asset Metadata Service
/components/asset-metadata-service/ @michal-hudy @m00g3n @aerfio @magicmatatjahu

# CMS Controller Manager Component
/components/cms-controller-manager/ @michal-hudy @m00g3n @aerfio @magicmatatjahu

# Binding usage controller Component
/components/service-binding-usage-controller/ @aszecowka @PK85 @mszostok @piotrmiskiewicz @polskikiel @jasiu001 @adamwalach

# Kyma Operator Component
/components/kyma-operator/ @Tomasz-Smelcerz-SAP @strekm @jakkab @piotrmsc @kubadz @Demonsthere

# IAM Kubeconfig Service Component
/components/iam-kubeconfig-service/ @piotrmsc @kubadz @strekm @jakkab @Tomasz-Smelcerz-SAP @Demonsthere

# Namespace controller Component
/components/namespace-controller/ @Tomasz-Smelcerz-SAP @strekm @jakkab @piotrmsc @kubadz @Demonsthere

# Istio Extensions Component
/components/istio-kyma-patch/ @piotrmsc @kubadz @strekm @jakkab @Tomasz-Smelcerz-SAP @Demonsthere

# Application broker Component
/components/application-broker/ @aszecowka @PK85 @mszostok @piotrmiskiewicz @polskikiel @jasiu001 @adamwalach

# Helm broker controller Component
/components/helm-broker/ @aszecowka @PK85 @mszostok @piotrmiskiewicz @polskikiel @jasiu001 @adamwalach

# Console Backend Service Component
/components/console-backend-service/ @akucharska @michal-hudy @m00g3n @pkosiec @aerfio @magicmatatjahu @aszecowka @PK85 @mszostok @piotrmiskiewicz @polskikiel @jasiu001 @adamwalach @sjanota

# IDPPreset Component
/components/idppreset/ @pekura @maxmarkus @jesusreal @kwiatekus @dariadomagala @hardl @y-kkamil

# Connector Service Component
/components/connector-service/ @akgalwas @janmedrek @Szymongib @franpog859 @Maladie @crabtree

# Connection Token Handler Component
/components/connection-token-handler/ @akgalwas @janmedrek @Szymongib @franpog859 @Maladie @crabtree

# Connectivity Certs Controller Component
/components/connectivity-certs-controller/ @akgalwas @janmedrek @Szymongib @franpog859 @Maladie @crabtree

# Application Registry Component
/components/application-registry/ @akgalwas @janmedrek @Szymongib @franpog859 @Maladie @crabtree

# Application Operator Component
/components/application-operator/ @akgalwas @janmedrek @Szymongib @franpog859 @Maladie @crabtree

# Application Gateway Component
/components/application-gateway/ @akgalwas @janmedrek @Szymongib @franpog859 @Maladie @crabtree

# Application Connectivity Validator Component
/components/application-connectivity-validator/ @akgalwas @janmedrek @Szymongib @franpog859 @Maladie @crabtree

# Application Connectivity Certs Setup Job Component
/components/application-connectivity-certs-setup-job/ @akgalwas @janmedrek @Szymongib @franpog859 @Maladie @crabtree

# Event Bus Component
/components/event-bus/ @Abd4llA @joek @abbi-gaurav @rakesh-garimella @venturasr @lilitgh @k15r @nachtmaar @anishj0shi @montaro @marcobebway @radufa @sayanh

# K8s Dashboard Proxy Component
/components/k8s-dashboard-proxy/ @montaro @abbi-gaurav @marcobebway @radufa @sayanh

# Event Service Component
/components/event-service/ @Abd4llA @joek @abbi-gaurav @rakesh-garimella @venturasr @lilitgh @k15r @nachtmaar @anishj0shi @montaro @marcobebway @radufa @sayanh

# Xip Patch Component
/components/xip-patch/ @piotrmsc @kubadz @strekm @jakkab @Tomasz-Smelcerz-SAP @Demonsthere

# Kubeless Images
/components/kubeless-images @Abd4llA @joek @abbi-gaurav @rakesh-garimella @venturasr @lilitgh @k15r @nachtmaar @anishj0shi @montaro @marcobebway @radufa @sayanh

# Dex Static User Configurer
/components/dex-static-user-configurer/ @piotrmsc @kubadz @strekm @jakkab @Tomasz-Smelcerz-SAP @Demonsthere

# Compass Runtime Agent
/components/compass-runtime-agent/ @PK85 @aszecowka @crabtree @pkosiec @kfurgol @tgorgol @akgalwas @janmedrek @Szymongib @franpog859 @Maladie

# Tests
# acceptance tests
/tests/acceptance/ @mszostok @polskikiel @piotrmiskiewicz @aszecowka @PK85 @jasiu001 @adamwalach

# Dex integration tests
/tests/integration/dex @piotrmsc @kubadz @strekm @jakkab @Tomasz-Smelcerz-SAP @Demonsthere

# Knative Serving Acceptance
/tests/knative-serving/ @Abd4llA @joek @abbi-gaurav @rakesh-garimella @venturasr @lilitgh @k15r @nachtmaar @anishj0shi @montaro @marcobebway @radufa @sayanh

# test-namespace-controller
/tests/test-namespace-controller/ @Tomasz-Smelcerz-SAP @strekm @jakkab @piotrmsc @kubadz @Demonsthere

# monitoring tests
/tests/integration/monitoring/ @a-thaler @igor-karpukhin @hisarbalik @lilitgh @suleymanakbas91 @clebs

# test-logging tests
/tests/integration/logging/ @a-thaler @igor-karpukhin @hisarbalik @lilitgh @suleymanakbas91 @clebs

# api-controller integration tests
/tests/integration/api-controller/ @piotrmsc @kubadz @strekm @jakkab @Tomasz-Smelcerz-SAP @Demonsthere

# apiserver-proxy tests
/tests/integration/apiserver-proxy/ @piotrmsc @kubadz @strekm @jakkab @Tomasz-Smelcerz-SAP @Demonsthere

# Console Backend Service tests
/tests/console-backend-service/ @akucharska @michal-hudy @m00g3n @pkosiec @aerfio @magicmatatjahu @aszecowka @PK85 @mszostok @piotrmiskiewicz @polskikiel @jasiu001 @adamwalach

# Asset Store tests
/tests/asset-store/ @michal-hudy @m00g3n @aerfio @magicmatatjahu

# Connector Service Tests
/tests/connector-service-tests/ @akgalwas @janmedrek @Szymongib @franpog859 @Maladie @crabtree

# Application Registry Tests
/tests/application-registry-tests/ @akgalwas @janmedrek @Szymongib @franpog859 @Maladie @crabtree

# Application Gateway Tests
/tests/application-gateway-tests/ @akgalwas @janmedrek @Szymongib @franpog859 @Maladie @crabtree

# Application Operator Tests
/tests/application-operator-tests/ @akgalwas @janmedrek @Szymongib @franpog859 @Maladie @crabtree

# Application Connector Tests
/tests/application-connector-tests/ @akgalwas @janmedrek @Szymongib @franpog859 @Maladie @crabtree

# Tools

# The alpine-net directory
/tools/alpine-net/ @a-thaler @igor-karpukhin @hisarbalik @lilitgh @suleymanakbas91 @clebs

# The etcd-tls-setup directory
/tools/etcd-tls-setup/ @aszecowka @PK85 @mszostok @piotrmiskiewicz @polskikiel @mwieczorek @jasiu001 @adamwalach

# The gcp-broker-provider directory
/tools/gcp-broker-provider/ @aszecowka @PK85 @mszostok @piotrmiskiewicz @polskikiel @jasiu001 @adamwalach

# The failery directory
/tools/failery/ @akucharska @michal-hudy @m00g3n @pkosiec @aerfio @magicmatatjahu

# The tools/velero-plugins directory
/tools/velero-plugins/ @a-thaler @igor-karpukhin @hisarbalik @lilitgh @suleymanakbas91 @clebs

# The tools/kyma-installer directory
/tools/kyma-installer/ @Tomasz-Smelcerz-SAP @strekm @jakkab @crabtree @aszecowka @PK85 @mszostok @piotrmiskiewicz @polskikiel @piotrmsc @jasiu001 @adamwalach @kubadz @Demonsthere

# The tools/load-test directory
/tools/load-test/ @a-thaler @igor-karpukhin @hisarbalik @lilitgh @suleymanakbas91 @clebs

# kubeless-integration tests directory
/tests/end-to-end/kubeless-integration/ @Abd4llA @joek @abbi-gaurav @rakesh-garimella @venturasr @lilitgh @k15r @nachtmaar @anishj0shi @montaro @marcobebway @radufa @sayanh

# kubeless tests
/tests/kubeless/ @Abd4llA @joek @abbi-gaurav @rakesh-garimella @venturasr @lilitgh @k15r @nachtmaar @anishj0shi @montaro @marcobebway @radufa @sayanh

# Event Bus Tests
/tests/event-bus/ @Abd4llA @joek @abbi-gaurav @rakesh-garimella @venturasr @lilitgh @k15r @nachtmaar @anishj0shi @montaro @marcobebway @radufa @sayanh

# Event Service Tests
/tests/integration/event-service/ @Abd4llA @joek @abbi-gaurav @rakesh-garimella @venturasr @lilitgh @k15r @nachtmaar @anishj0shi @montaro @marcobebway @radufa @sayanh

# E2E Backup Tests
/tests/end-to-end/backup-restore-test @a-thaler @igor-karpukhin @hisarbalik @lilitgh @suleymanakbas91 @clebs

# E2E Upgrade Tests
/tests/end-to-end/upgrade @mszostok @PK85 @aszecowka @piotrmiskiewicz @polskikiel @jasiu001 @adamwalach

# Cluster Users Test
/tests/integration/cluster-users @piotrmsc @kubadz @strekm @jakkab @Tomasz-Smelcerz-SAP @Demonsthere

# All .md files
*.md @kazydek @klaudiagrz @tomekpapiernik @bszwarc @mmitoraj

# All files and subdirectories in /docs
/docs/ @kazydek @klaudiagrz @tomekpapiernik @bszwarc @mmitoraj

# Config file for MILV - milv.config.yaml
milv.config.yaml @akucharska @michal-hudy @m00g3n @pkosiec @aerfio @magicmatatjahu

# performance tests
/tests/perf/ @a-thaler @igor-karpukhin @hisarbalik @lilitgh @suleymanakbas91 @clebs
