KEB_HOST=cp.dev.kyma.cloud.sap
KEB_CLIENT_ID=13d89379-e3e0-432b-9843-e7914966e04f
KEB_CLIENT_SECRET=.6yYbgEH.v2zHACgspli1b9hrV
KEB_GLOBALACCOUNT_ID=e449f875-b5b2-4485-b7c0-98725c0571bf
KEB_SUBACCOUNT_ID=pandas-tests-accounts
KEB_USER_ID=nesma.badr@sap.com
KEB_PLAN_ID=361c511f-f939-4621-b228-d0fb79a1fe15
GARDENER_KUBECONFIG=/Users/I559973/.kube/kubeconfig_gardener.yaml
KCP_TECH_USER_LOGIN=sap.cp.xf.kyma.test@sap.com
KCP_TECH_USER_PASSWORD=XO4RStMsba9eUE5l
KCP_OIDC_CLIENT_ID=5d88dbfa-9a12-400c-8db0-9feaf4544da2
KCP_OIDC_CLIENT_SECRET=Nta905RL0@?xAmcFwVCjQmr:@Y3u68i
KCP_KEB_API_URL=https://kyma-env-broker.cp.dev.kyma.cloud.sap
KCP_OIDC_ISSUER_URL=https://kymatest.accounts400.ondemand.com
KCP_GARDENER_NAMESPACE=garden-kyma-dev
KCP_MOTHERSHIP_API_URL=https://mothership-reconciler.cp.dev.kyma.cloud.sap/v1
KCP_KUBECONFIG_API_URL=https://kubeconfig-service.cp.dev.kyma.cloud.sap
KYMA_UPGRADE_VERSION=2
SKIP_CLEANUP=false
AL_SERVICE_KEY=
