COMPASS_HOST=mps.dev.kyma.cloud.sap
COMPASS_CLIENT_ID=fd1d33df-cc4a-4071-81c0-27c4561ff3e7
COMPASS_CLIENT_SECRET=ky4K347KR.wvQ3ltoaQI1bRMDl
COMPASS_TENANT=e449f875-b5b2-4485-b7c0-98725c0571bf
KUBECONFIG=/Users/I559973/.kube/kubeconfig_pandas.yaml