<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Kyma</title>
    <meta name="description" content="Kyma Console migrator" />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="https://kyma-project.io/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="https://kyma-project.io/favicon-16x16.png"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="./assets/fundamental-styles.css"
    />
    <link rel="stylesheet" type="text/css" href="./assets/style.css" />
  </head>
  <body>
    <script>
      if (localStorage.getItem("migrated") === "true") {
        window.location.href = "/console-redirect";
      }
    </script>
    <div class="fd-page">
      <div class="fd-page__content">
        <section class="fd-section">
          <p class="fd-has-text-align-center">
            <span
              class="sap-icon sap-icon--message-information"
            ></span>
          </p>
          <div class="info" id="headline">Console is now hosted centrally</div>
          <div class="hint" id="message">
            Kyma Console is no longer deployed to your cluster. It is now hosted
            as a central UI service. To access the central Console, you need to
            migrate your existing permissions from the current SAP User Account
            and Authentication Service (SAP UAA). To do so, select the
            <b>Migrate permissions</b> button. After that, follow the dedicated
            initialization link under the <b>Access Console</b> button to open
            the central Console.
          </div>
          <p></p>
          <p class="fd-has-text-align-center">
            <a href="/xsuaa-migrate" rel="nofollow noopener noreferrer"
              ><button class="fd-button">Migrate permissions</button></a
            >
            <a href="/console-redirect" rel="nofollow noopener noreferrer"
              ><button class="fd-button fd-button--emphasized">
                Access Console
              </button></a
            >
          </p>
        </section>
      </div>
    </div>
  </body>
</html>
