# Visual Studio Code
/.vscode/
*.code-workspace
# Mac OS
.DS_Store

/.idea/
*.iml

bin/
docker/
vendor/
/unit-tests.xml
#Exclude binaries
cmd/event-publish-service/event-publish-service
cmd/nats-streaming-init/nats-streaming-init
cmd/subscription-controller/subscription-controller
